
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_EMBEDDING_MODEL=nomic-embed-text
OLLAMA_LLM_MODEL=llama3


# Cohere Configuration (embeddings + text generation)

COHERE_API_KEY=xxxxxxxxxxxxxxxx
COHERE_EMBEDDING_MODEL=embed-english-v3.0
COHERE_GENERATION_MODEL=command-a-03-2025
COHERE_RERANK_MODEL=rerank-v3.5

# OpenAI Configuration (embeddings + text generation)

OPENAI_API_KEY=xxxxxxxxxxxxxxxxxx
OPENAI_EMBEDDING_MODEL=text-embedding-3-large
OPENAI_GENERATION_MODEL=gpt-4o-mini

# Gemini Configuration (embeddings + text generation)

GEMINI_API_KEY=xxxxxxxxxxxxx
GEMINI_EMBEDDING_MODEL=text-embedding-004
GEMINI_GENERATION_MODEL=gemini-2.0-flash

# Qdrant Local Configuration

QDRANT_URL=http://localhost:6333

QDRANT_COLLECTION=local-search

QDRANT_COHERE_COLLECTION=cohere-search
QDRANT_OPENAI_COLLECTION=openai-search
QDRANT_GEMINI_COLLECTION=gemini-search

 
